.navbar {
    min-height: 40px;
    background-color: #3e3a3a!important;
  }
.btn-dark{
  background-color: #3e3a3a!important;
}


.custom-toggler.navbar-toggler { 
  border-color:  #ffc107!important; 
} 
  
@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

